.tour-card {
    height: 100%;
    @include box-shadow;
    display: flex;
    flex-direction: column;

    &__title {
        @include link--black;
    }

    &__link {
        display: inline-block;
    }

    &__item {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding: 0 16px 32px 16px;
    }

    &__title {
        display: inline-block;
        margin: 16px 0;
    }
    &__desc {
        flex-grow: 1;
    }
}