// Font-family //

$themeFontMain: 'Roboto Slab', sans-serif;
$themeFontOffensive: 'Cousine', monospace;

// Font-size //

$themeFontSizeS: 14px;
$themeFontSizeM: 16px;
$themeFontSizeL: 18px;
$themeFontSizeXL: 24px;

// Font-colors //

$themeColorMain: #444;
$themeColorWhite: #fff;
$themeColorBlue: #00a3e5;
$themeColorGrey: #ccc;
$themeColorLemon: #c9d741;
$themeColorWhiteTransparent: rgba(255, 255, 255, 0.5);

// Box-shadow //

$themeBoxShadowCard: 0 10px 24px -5px rgba(0,0,0, 0.5);

